.container-principal {
    text-align: center;
    color: white;
    background-color: #bfdaf7;
    height: 100%;
    padding: 20px;
}

.titulo-principal {
    font-size: 60px;
    background-color: #0056b3;
    margin: 0;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #d2e5f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo {
    color: rgb(29, 74, 117);
    font-size: 30px;
    margin-bottom: 20px;
}

.div-atributo {
    display: flex;
    justify-content: center;
    color: rgb(29, 74, 117);
    font-size: 20px;
    margin: 10px;
    gap: 20px;
}

.div-atributo label {
    width: 200px;
    text-align: right;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #adc7e9;
    border-radius: 5px;
    box-sizing: border-box;
}

.boton-opcion {
    color: white;
    background-color: rgb(0, 38, 121);
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-opcion:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.boton-opcion:disabled {
    background-color: #6c757d;
    color: #ccc;
    cursor: not-allowed;
}

.div-botones {
    display: flex;
    justify-content: center;
    gap: 8px;
}

footer {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #fff;
    background-color: #0056b3;
    text-align: center;
    font-size: 16px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: underline;
}
